@page "/maintenance"
@using Budget.Client.Components.Envelopes
@using Budget.Client.Components.Maintenance.EnvelopeMaint
@using Budget.Client.Components.Maintenance.EnvelopePagesCRUD
@using Budget.Client.Components.Maintenance.CategoryCRUD
@using Budget.Client.Components.Maintenance.AccountCRUD

<MudText Typo="Typo.h5" Class="mb-4">Maintenance</MudText>

<MudTabs Elevation="1" Rounded="true" >
    <MudTabPanel Text="Accounts">
        <AccountIndex />
    </MudTabPanel>
    <MudTabPanel Text="Categories">
        <CategoryIndex />
    </MudTabPanel>
    <MudTabPanel Text="Envelopes">
        <EnvelopeIndex />
    </MudTabPanel>
    <MudTabPanel Text="Users">
        <div>Content of tab 3</div>
    </MudTabPanel>
</MudTabs>