@page "/maintenance"
@rendermode InteractiveServer
@using Budget.Client.Components.Envelopes
@using Budget.Client.Components.Maintenance.EnvelopeMaint
@using Syncfusion.Blazor
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Kanban.Internal
@using Syncfusion.Blazor.Navigations
@using Budget.Client.Components.Maintenance.EnvelopePagesCRUD
@using Budget.Client.Components.Maintenance.CategoryCRUD

<h4>Maintenance</h4>
<SfTab >

	<TabItems>
		<TabItem >
			<ChildContent>
				<TabHeader Text="Accounts"></TabHeader>
			</ChildContent>
			<ContentTemplate>
				<div>Content of tab 2</div>
			</ContentTemplate>
		</TabItem>
		<TabItem>
			<ChildContent>
				<TabHeader Text="Categories"></TabHeader>
			</ChildContent>
			<ContentTemplate>
				<CategoryIndex></CategoryIndex>
			</ContentTemplate>
		</TabItem>
		<TabItem>
			<ChildContent>
				<TabHeader Text="EnvelopesCRUD"></TabHeader>
			</ChildContent>
			<ContentTemplate>
				<EnvelopeIndex/>
			</ContentTemplate>
		</TabItem>

		<TabItem>
			<ChildContent>
				<TabHeader Text="Users"></TabHeader>
			</ChildContent>
			<ContentTemplate>
				<div>Content of tab 3</div>
			</ContentTemplate>
		</TabItem>
	</TabItems>
</SfTab>