@page "/auth"

@attribute [Authorize]
@rendermode InteractiveServer

<PageTitle>Auth</PageTitle>

<h1>You are authenticated</h1>

<AuthorizeView>
    <Authorized>
        Hello @UserName
    </Authorized>
    <NotAuthorized>
        <p>Not authorized.</p>
    </NotAuthorized>
</AuthorizeView>
